/*Selectores*/
/*0.- Direct¡vas @*/
/*1.- Etiquetas*/
/*2.- Identificadores*/
/*3.- Clases*/

/*width 1024 px*/
@font-face{
	font-family: 'Coming Soon';
	/*donde esta el archivo*/
	src:url(fonts/Coming_Soon/ComingSoon.ttf);
}

body/*selector tipo etiqueta*/
{
	/*atributo : valor*/
	border:1px solid blue;
	border-radius: 5px;
	max-width: 1024px;
	margin: 0px auto;
}

header
{
	border: 1px solid red;
	background: blue;
	color: white;
	text-align: center;
	padding: 0px 0px 10px 0px; /*arriba, derecha, abajo, izquierda*/
}
header h1
{
	/*Agregamos la fuente al h1*/
	font-family: 'Roboto', sans-serif;


}
article
{
	font-family: 'Coming Soon';
}

header img
{
	float: right; /*rompe el modelo de caja y pone en una posicion absoluta el elemento*/
	width: 100px; /*ancho de la imagen*/ 
	margin: -50px 10px 0px 0px;
}
header nav ul li
{
	font-family: 'Open Sans', sans-serif;
	display: inline-block; /*rompe el modelo de caja*/
	background: hotpink; /*color de fondo*/
	border-radius: 5px; /*bordes redondeados*/
	box-shadow: 3px 3px;
	margin: 0px 10px 50px 10px; /*separo las cajas*/
	padding: 5px 10px; /*agregando los botones (interno)*/
	width: 90px; /*ancho del boton
*/
}

header nav ul li:hover /*mouse por encima*/
{
	background: white; /*color de fondo*/
	color: hotpink;
}
